<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet" />
</head>

<body style="height: 100vh;" class="flex bg-gray-50 items-center justify-center">
    <div class="max-w-2xl bg-white flex flex-col rounded-md shadow-sm py-8 px-6 sm:px-12 w-10/12">
        <h1 class="mb-12 text-center text-lg font-bold tracking-tight text-gray-900 sm:text-2xl">Add Order Details</h1>
        <form method="POST" action="{% url 'orderDetail' %}">
            {% csrf_token %}

            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-12">


                {% for field in form %}
                <div>
                    <label class="block text-sm font-semibold leading-6 text-gray-900">{{field.label}}</label>
                    <div class="mt-2.5">
                        {{field}}
                    </div>
                </div>
                {% endfor %}
            </div>

            <label for="order_select" class="sr-only">Select Order</label>
            <select id="order_select"  name="order_select"
                class="focus:outline-none block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 mb-5">
        
                <option selected>Select Order</option>

        
                {% for order in orders %}
                    <option value="{{ order.order_number }}">Order # {{ order.order_number }} Date : {{ order.order_date }}</option>
                {% endfor %}
        
            </select>


            <div class="flex flex-col items-center">
                <button
                    class="block sm:w-4/12 w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                    type="submit">Add
                </button>
            </div>
        </form>
    </div>
</body>

</html>